{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body class="room-background-image">

    <div class="navigation-attrs">
        <p>
            <a href="{% url 'details-hotel' %}">
                <img id="logo-img" src="{% static '/images/logo.jpg' %}" alt="logo"/>
            </a>
        </p>
        <a href="{% url 'hotel-rooms' hotel_pk=hotel.pk %}"><h1 id="room-header">Rooms</h1></a>
        <a id="all-add" href="{% url 'add-room' pk=hotel.pk %}">Add room</a>

        <div class="search-container">
            <form method="get" action="">
                <input type="text" name="search" placeholder="Search by room type" value="{{ request.GET.search }}">
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <div class="container-all">
        {% if not rooms %}
            <p id="empty-list">No rooms added yet</p>
        {% else %}
            {% for room in rooms %}
                <div class="room-box">
                    <img src="{{ room.image }}" alt="img room" class="img-room">
                    <h2>{{ room.room_type }}</h2>

                    <h3><a>Price per night: </a>{{ room.price_per_night }}<a>€</a></h3>

                    <div class="details">
                        <div class="detail-item"><a>Room number: </a>{{ room.room_number }}</div>
                        <div class="detail-item"><a>Description: </a>{{ room.description }}</div>
                        <div class="detail-item">
                            <a>Air conditioning: </a>
                            {% if room.air_conditioning %}
                                <span style="color: #1cf61c;">✔</span>
                            {% else %}
                                <span style="color: #ff0000;">✘</span>
                            {% endif %}
                        </div>

                        <div class="detail-item">
                            <a>Bathtub: </a>
                            {% if room.bathtub %}
                                <span style="color: #1cf61c;">✔</span>
                            {% else %}
                                <span style="color: red;">✘</span>
                            {% endif %}
                        </div>

                        <div class="detail-item">
                            <a>TV: </a>
                            {% if room.tv %}
                                <span style="color: #1cf61c;">✔</span>
                            {% else %}
                                <span style="color: red;">✘</span>
                            {% endif %}
                        </div>

                        <div class="detail-item">
                            <a>Balcony: </a>
                            {% if room.balcony %}
                                <span style="color: #1cf61c;">✔</span>
                            {% else %}
                                <span style="color: red;">✘</span>
                            {% endif %}
                        </div>

                    </div>

                    <div id="buttons-edit-delete">
                        <a href="{% url 'edit-room' hotel_pk=hotel.pk room_pk=room.pk %}" id="edit-btn">Edit</a>
                        <a href="{% url 'delete-room' hotel_pk=hotel.pk room_pk=room.pk %}" id="delete-btn">Delete</a>
                    </div>
                    <div id="hotel-rooms">
                        <a href="{% url 'book-room' pk=room.pk %}" id="book-btn">Book</a>
                    </div>

                </div>
            {% endfor %}
        {% endif %}
    </div>

    </body>

{% endblock %} 