{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body class="profile-background-image">

    <div class="container-delete">
        <h1>Are you sure you want to cancel this flight?</h1>

        <form action="{% url 'delete-booking-flight' pk=booking_flight.pk %}" id='delete' method="post">
            {% csrf_token %}

            <div id="buttons-delete">
                <input class="btn submit yes" type="submit" name="confirmation" value="Yes"/>
                <input class="btn submit no" type="submit" name="confirmation" value="No"/>
            </div>
        </form>
    </div>

    </body>

{% endblock %} 