#register-page {
    width: 520px;
    background: rgba(0, 0, 0, 0.7);
    padding: 27px 38px;
    border-radius: 30px;
    border: 3px solid rgba(110, 142, 70, 0.15);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.back-arrow-left {
    position: absolute;
    top: 29px;
    left: 36px;
    font-size: 2em;
    color: white;
}

.back-arrow-left:hover {
    transform: scale(1.05);
}

.container h1 {
    color: #2e85cd;
    font-size: 32px;
    margin-bottom: 13px;
    text-align: center;
}

.container label {
    display: block;
    font-size: 18px;
    color: #2dbefa;
    margin-top: 10px;
    text-align: left;
}

input[type="text"],
input[type="password"],
input[type="url"],
input[type="email"],
input[type="number"],
input[type="datetime-local"],
input[type="text"],
textarea {
    width: 100%;
    padding: 2px;
    margin: 4px 0;
    border: 1px solid #fdfbfb;
    border-radius: 7px;
    box-sizing: border-box;
    font-size: 15px;
}

input[type="text"]::placeholder,
input[type="password"]::placeholder,
textarea::placeholder {
    color: #888;
    opacity: 0.7;
}

textarea {
    height: 90px;
    resize: vertical;
}

.btn.submit {
    background-color: #6e8e46;
    color: white;
    padding: 6px 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    transition: background-color 0.3s;
    width: 100%;
    margin-top: 10px;
}

.btn.submit:hover {
    background-color: #567039;
}

.error-message {
    color: #ff6b6b;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 10px;
    display: block;
}

#login-page {
    width: 500px;
    background: rgba(0, 0, 0, 0.7);
    padding: 30px;
    border-radius: 30px;
    border: 3px solid rgba(110, 142, 70, 0.15);
    box-sizing: border-box;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    color: #fff;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






