{% extends 'base.html' %}
{% load static %}
{% block content %}
    
    <body class="profile-background-image">
    <section id="register-page" class="content auth">
        <form  id="register" method="post">
            <div class="container">
                <h1>Edit Profile</h1>
                    {% csrf_token %}
                    {{ form }}
                <input class="btn-edit-profile" type="submit" value="Edit"/>
            </div>
        </form>
    </section>

    </body>

{% endblock %}

