{% extends 'base.html' %}
{% load static %}
{% block content %}

    <body class="flight-background-image">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">

    <section id="register-page" class="content auth">
        <form id="register" method="post">
            <div class="container">
                <a href="{% url 'details-flight' %}" class="back-arrow-left">
                    <i class="fas fa-arrow-left"></i>
                </a>
                <h1>Edit Flight</h1>
                {% csrf_token %}
                {{ form }}
                <input class="btn-edit-profile" type="submit" value="Edit"/>
            </div>
        </form>
    </section>

    </body>

{% endblock %} 